body {
  background-image: url("https://media0.giphy.com/media/3o72EVSffJnSga9mKI/giphy.gif?cid=6c09b952eebr4xdejj0p946isyyhptkqf7phz1ofwnoico6p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g");
  height: cover; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
}
.navbar .nav-link {
  color: #fff !important;
}

.row{
  color: #fff;
}

.card{
  background-color:rgba(0, 0, 0, 0.075);
  color: #fff;
}